@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgba(155, 60, 155, 0.685);
    color: white;
    height: 65Spx;
    font-size: 27px;
    align-items: center;
    padding: 0px 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}